/* Box Model Hack */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
  scroll-behavior: smooth;
}

p::selection {
  background: var(--colors-accent1);
  color: var(--colors-accent10);
}

article::selection {
  background: var(--colors-accent1);
  color: var(--colors-accent10);
}
span::selection {
  background: var(--colors-accent9);
  color: var(--colors-accent1);
}

div::selection {
  background: var(--colors-accent1);
  color: var(--colors-accent10);
}
a::selection {
  background: var(--colors-accent8);
  color: var(--colors-accent1);
}

h1::selection {
  background: var(--colors-accent1);
  color: var(--colors-accent10);
}

h2::selection {
  background: var(--colors-accent1);
  color: var(--colors-accent10);
}

h3::selection {
  background: var(--colors-accent1);
  color: var(--colors-accent10);
}

h4::selection {
  background: var(--colors-accent1);
  color: var(--colors-accent10);
}

strong::selection {
  background: var(--colors-accent1);
  color: var(--colors-accent10);
}

time::selection {
  background: var(--colors-accent1);
  color: var(--colors-accent10);
}

img::selection {
  background: var(--colors-accent1);
  color: var(--colors-accent10);
}

/******************************************
/* FONTS
/*******************************************/

@font-face {
  font-family: "pangramblack";
  src: url("../assets/fonts/pangram-black-webfont.woff2") format("woff2"),
    url("../assets/fonts/pangram-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0460-052f, U+1c80-1c88, U+20b4, U+2de0-2dff, U+a640-a69f,
    U+fe2e-fe2f, U+0301, U+0400-045f, U+0490-0491, U+04b0-04b1, U+2116;
}

@font-face {
  font-family: "pangrambold";
  src: url("../assets/fonts/pangram-bold-webfont.woff2") format("woff2"),
    url("../assets/fonts/pangram-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+1f??, U+0370-03ff;
}

@font-face {
  font-family: "pangramextralight";
  src: url("../assets/fonts/pangram-extralight-webfont.woff2") format("woff2"),
    url("../assets/fonts/pangram-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01a0-01a1,
    U+01af-01b0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1ea0-1ef9, U+20ab;
}

@font-face {
  font-family: "pangramregular";
  src: url("../assets/fonts/pangram-regular-webfont.woff2") format("woff2"),
    url("../assets/fonts/pangram-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0100-02af, U+0304, U+0308, U+0329, U+1e00-1e9f, U+1ef2-1eff,
    U+2020, U+20a0-20ab, U+20ad-20cf, U+2113, U+2c60-2c7f, U+a720-a7ff, U+00??,
    U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+0304, U+0308,
    U+0329, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+feff, U+fffd;
}

@font-face {
  font-family: "pangramregular";
  src: local("Arial");
  ascent-override: 90.2%;
  descent-override: 22.48%;
  line-gap-override: 0%;
  size-adjust: 107.4%;
}

/******************************************
/* BASE STYLES
/*******************************************/
@layer tokens {
  :where(:root, : host) {
    --colors-accent1: #fbfcfd;
    --colors-accent2: #ccc;
    --colors-accent3: #889096;
    --colors-accent4: #7e868c;
    --colors-accent5: #9a9c9e;
    --colors-accent6: #3d414a;
    --colors-accent7: rgba(33, 34, 36, 0.3);
    --colors-accent8: #e7746f;
    --colors-accent9: #216485;
    --colors-accent10: rgb(33, 38, 49);
    --colors-accent11: rgb(209, 172, 143);
    --colors-accent12: rgb(22, 22, 22);
  }
}

/* Firefox */
/* * {
  scrollbar-width: auto;
  scrollbar-color: var(--colors-accent12);
} */

/* Chrome, Edge, and Safari  */
/* *::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: var(--colors-accent12);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--colors-accent12);
  border-radius: 120px;
  border: 3px solid var(--colors-accent2);
} */

.text-style-one {
  font-family: pangrambold, "Source Sans Pro", Arial, sans-serif;
  color: var(--colors-accent1);
  font-weight: 600;
  letter-spacing: 0.04em;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

.text-style-two {
  font-family: pangramextralight, "Source Sans Pro", Arial, sans-serif;
  color: var(--colors-accent1);
  font-weight: 600;
  letter-spacing: 0.04em;
  line-height: 1.5em;
}

.text-style-three {
  font-family: pangramblack, "Source Sans Pro", Arial, sans-serif;
  color: var(--colors-accent1);
  font-weight: 600;
  letter-spacing: 0.04em;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

article,
header {
  display: block;
}

body {
  line-height: 1;
  background: var(--colors-accent12);
  -webkit-text-size-adjust: none;
  font-family: pangramregular, "Source Sans Pro", Arial, sans-serif;
  font-size: 1.1rem;
  color: var(--colors-accent1);
  font-weight: 300;
  letter-spacing: 0.04em;
  overflow-x: hidden;
}

strong {
  font-weight: 600;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

/******************************************
/* STYLES
/*******************************************/
body {
  animation: fadeInAnimation ease 3s;
  /* animation-iteration-count: 1; */
  animation-fill-mode: forwards;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-main-content {
  animation: slide-up 0.6s ease-in-out;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.paragraph {
  color: var(--colors-accent5);
}

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent
    url("https://assets.iceable.com/img/noise-transparent.png") repeat 0 0;

  animation: bg-animation 0.2s infinite;
  opacity: 0.7;
  visibility: visible;
  z-index: -2;
}

@media and (max-width: 767px) {
  .bg {
    background: transparent
      url("https://assets.iceable.com/img/noise-transparent.png") repeat 0 0;

    animation: bg-animation 0.2s infinite;
    opacity: 0.2;
    visibility: visible;
    z-index: -2;
  }
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}

.button {
  pointer-events: auto;
  cursor: pointer;
  background: #e7e7e7;
  border: none;
  margin-top: -10em;
  /* padding: 1.5rem 3rem; */
  /* margin: 0; */
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
}

.button::before,
.button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.logo-stack:hover * {
  filter: invert(95%);
}

.button--surtur {
  width: 100%;
  height: 100%;
  diplays: flex;
  margin-top: -10em;
  position: relative;
  top: 0;
  padding: 0;
  border: none;
  background: none;
  -webkit-clip-path: circle(40% at 50% 50%);
  clip-path: circle(40% at 50% 50%);
}

.button--surtur:focus-visible {
  background: black;
}

.eye {
  position: absolute;
  fill: var(--colors-accent1);
  z-index: 2;
  width: 1.8em;
  height: 1.8em;
  top: -80px; /* Set the top position to 0 */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for centering */
  margin: 0 auto;
}

@media (max-width: 1288px) {
  .eye {
    top: -73px;
  }
}

.eye__outer,
.eye__inner,
.eye__lashes-up,
.eye__lashes-down {
  stroke: var(--colors-accent10);
  fill: none;
  stroke-width: 1.5px;
}

.eye__outer {
  fill: var(--colors-accent10);
}

.eye__inner {
  stroke: var(--colors-accent1);
  stroke-width: 3px;
}

.eye__lashes-down {
  opacity: 0;
}

.button--surtur:hover .eye__lashes-up,
.button--surtur:hover .eye__inner,
.button--surtur:hover .eye__iris {
  animation: blinkHide 2s step-end infinite;
}

.button--surtur:hover .eye__lashes-down {
  animation: blinkShow 2s step-end infinite;
}

@keyframes blinkHide {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
}

@keyframes blinkShow {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
}

footer {
  padding: 2em 0;
  text-align: center;
  font-size: 0.8rem;
  color: var(--colors-accent2);
  font-family: pangramextralight, "Source Sans Pro", Arial, sans-serif;
  margin-top: 9em;
}

footer > * {
  gap: 10vw;
}

.writing-heading {
  font-family: pangramregular, "Source Sans Pro", Arial, sans-serif;
}
.stack__items {
  line-spacing: clamp(1.5rem, 0.9vw + 1.3rem, 1.88rem);
  padding-bottom: 20px;
  width: 100%;
  transition: dashed 0.8s ease;
  -webkit-transition: dashed 0.8s ease;
  -moz-transition: dashed 0.8s ease;
  -ms-transition: dashed 0.8s ease;
  margin: 1em auto;
  position: relative;
}

.stack__items > time {
  font-size: 0.8rem;
  color: var(--colors-accent2);
  font-family: pangramextralight, "Source Sans Pro", Arial, sans-serif;
  display: block;
  margin-top: 0.5rem;
}

.stack__items:after {
  border-bottom: dashed 1px var(--colors-accent9);
  width: 100vw;
  content: "";

  content: ""; /* Required for pseudo-element */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50vw;
  line-spacing: clamp(1.5rem, 0.9vw + 1.3rem, 1.88rem);
}

a {
  text-decoration: none;
  /* border-bottom: dashed 1px #2c5f5a;
  line-spacing: clamp(1.5rem, 0.9vw + 1.3rem, 1.88rem);
  padding-bottom: 20px; */
  color: inherit;
  -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

a:hover {
  color: var(--colors-accent8);
  border-color: var(--colors-accent8);
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

@media screen and (max-width: 1280px) {
  .carousel {
    padding-left: 0;
    padding-right: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 43vh;
    -webkit-overflow-scrolling: touch;
  }
}

@media screen and (max-width: 1140px) {
  .container {
    width: 95%;
  }
}

@media screen and (max-width: 736px) {
  body {
    min-width: 320px;
    font-size: 11.5pt;
  }
}

img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@media screen and (max-width: 736px) {
  html,
  body {
    min-width: 320px;
  }
}

body {
  -ms-overflow-style: scrollbar;
  -firefox-overflow-style: scrollbar;
}

@media screen and (max-width: 1280px) {
  body {
    font-size: 12pt;
  }
}

@media screen and (max-width: 736px) {
  body {
    min-width: 320px;
    font-size: 11.5pt;
  }
}

.link-with-icon {
  display: inline-flex;
  align-items: center;
  color: var(--colors-accent5);
}

.link-with-icon svg {
  margin-left: 5px;
  transition: transform 0.2s ease-in-out;
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  -ms-transition: transform 0.2s ease-in-out;
}

.link-with-icon:hover svg {
  transform: translateX(
    5px
  ); /*rotate3d(40, -30, -90, 45deg); Adjust the value to control the amount of movement */
}

.accent-with-icon {
  display: inline-flex;
  align-items: center;
  color: var(--colors-accent5);
}

.blurred {
  color: var(--colors-accent11);
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  transition: filter 0.2s ease-in-out;
  z-index: -1;
  /* transform: scale(0.4); */
}

.blurred:hover {
  color: var(--colors-accent1);
  filter: blur(0px);
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  z-index: 3;
  transform: scale(1);
}

.accent-with-icon > .accent-icon {
  display: inline;
  width: 1em;
  height: 1em;
  margin-left: 1em;
  vertical-align: middle;
  transition: all 0.2s ease-in-out;
}

.accent-with-icon:hover > .accent-icon {
  filter: blur(8px);
  visibility: hidden;
  transform: translateX(-10px);
  /* display: inline; */
  width: 1em;
  height: 1em;
  margin-left: 1em;
  vertical-align: middle;
}
4 .accent-with-icon > .accent-icon-two {
  display: inline;
  /* width: 1em;
  height: 1em; */
  margin-left: 1em;
  vertical-align: middle;
  transition: all 0.2s ease-in-out;
}

.accent-with-icon:hover > .accent-icon-two {
  filter: blur(8px);
  visibility: hidden;
  transform: translateX(-10px);
  margin-left: 1em;
  vertical-align: middle;
}

.logo {
  psition: relative;
  display: inline-block;
  display: flex;
  margin: 2em auto;
  max-width: 10%;
  width: 9%;
  height: 9%;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: 1em;
  vertical-align: middle;
  transition: transform 0.2s ease-in-out;
}

.icon:hover {
  transform: scale(1.1);
}
.centering {
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(50vw, 100%, 50em);
  margin: 0 auto;
}

.centeringTwo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-alignment {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  text-align: left;
  max-width: 96%;
  min-width: 50%;
  text-align: left;
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.divided {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.stack__item {
  margin: 0.8em 0;
}

.accent-one {
  color: var(--colors-accent8);
}

.accent-two {
  color: var(--colors-accent5);
}

.spacing {
  margin-top: 1.5em;
}
/******************************************
/* Carousel
/*******************************************/

.carousel {
  /* min-width: 900px; */
  width: 130em;
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
  /* padding-left: 40px; */
  padding-right: 35px;
  position: relative;
  touch-action: pan-x;
  pointer-events: auto;
  /* pointer: grab; */
  /* overflow-x: hidden; */
}

.carousel__activator {
  display: none;
}

.carousel__controls {
  display: none;
  align-items: center;
  /* justify-content: space-between; */
  position: absolute;
  top: 19;
  right: 16px;
  left: 1rem;
  bottom: 0;
  margin-bottom: -6em;
  gap: 3em;
}
.carousel__controls:first-of-type {
  /* margin-top: 35em; */
  justify-content: flex-start;
}
.carousel__controls:last-of-type {
  justify-content: flex-end;
}

.carousel__control {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: var(--colors-accent1);
  color: var(--colors-accent6);
  border-radius: 100%;
  box-shadow: 0 2px 10px 0 var(--colors-accent7);
  font-size: 24px;
  height: clamp(3rem, 1vw, 4rem);
  width: clamp(3rem, 1vw, 4rem);
  justify-content: center;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -o-transition: 0.3s all;
  -ms-transition: 0.3s all;
  z-index: 1;
}

@media (max-width: 1150px) {
  .carousel__controls {
    display: none;
    align-items: center;
    /* justify-content: space-between; */
    /* position: relative; */

    top: 30em;
    right: 1px;
    left: 1rem;
    bottom: 0;
    margin-bottom: -6em;
    width: 10%;
    height: 10em;
  }

  .carousel__control {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: var(--colors-accent1);
    color: var(--colors-accent6);
    border-radius: 100%;
    box-shadow: 0 2px 10px 0 var(--colors-accent7);
    font-size: 24px;
    height: clamp(1.5rem, 1vw, 4rem);
    width: clamp(1.5rem, 1vw, 4rem);
    justify-content: center;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
    -ms-transition: 0.3s all;
    z-index: 1;
  }
}

.carousel__control:hover {
  transform: scale(1.05);
}

.carousel__activator:nth-of-type(1):checked
  ~ .carousel__controls:nth-of-type(1) {
  display: flex;
}

.carousel__activator:nth-of-type(1):checked
  ~ .carousel__screen
  .carousel__track {
  transform: translateX(0%);
}

.carousel__activator:nth-of-type(2):checked
  ~ .carousel__controls:nth-of-type(2) {
  display: flex;
}

.carousel__activator:nth-of-type(2):checked
  ~ .carousel__screen
  .carousel__track {
  transform: translateX(-100%);
}

.carousel__activator:nth-of-type(3):checked
  ~ .carousel__controls:nth-of-type(3) {
  display: flex;
}

.carousel__activator:nth-of-type(3):checked
  ~ .carousel__screen
  .carousel__track {
  transform: translateX(-200%);
}

.carousel__activator:nth-of-type(4):checked
  ~ .carousel__controls:nth-of-type(4) {
  display: flex;
}

.carousel__activator:nth-of-type(4):checked
  ~ .carousel__screen
  .carousel__track {
  transform: translateX(-300%);
}

.carousel__activator:nth-of-type(5):checked
  ~ .carousel__controls:nth-of-type(5) {
  display: flex;
}

.carousel__activator:nth-of-type(5):checked
  ~ .carousel__screen
  .carousel__track {
  transform: translateX(-400%);
}

.carousel__activator:nth-of-type(6):checked
  ~ .carousel__controls:nth-of-type(6) {
  display: flex;
}

.carousel__activator:nth-of-type(6):checked
  ~ .carousel__screen
  .carousel__track {
  transform: translateX(-500%);
}

.carousel__activator:nth-of-type(7):checked
  ~ .carousel__controls:nth-of-type(7) {
  display: flex;
}

.carousel__activator:nth-of-type(7):checked
  ~ .carousel__screen
  .carousel__track {
  transform: translateX(-600%);
}

.carousel__activator:nth-of-type(8):checked
  ~ .carousel__controls:nth-of-type(8) {
  display: flex;
}

.carousel__activator:nth-of-type(8):checked
  ~ .carousel__screen
  .carousel__track {
  transform: translateX(-700%);
}

.carousel__activator:nth-of-type(9):checked
  ~ .carousel__controls:nth-of-type(9) {
  display: flex;
}

.carousel__activator:nth-of-type(9):checked
  ~ .carousel__screen
  .carousel__track {
  transform: translateX(-800%);
}

.carousel__activator:nth-of-type(10):checked
  ~ .carousel__controls:nth-of-type(10) {
  display: flex;
}

.carousel__activator:nth-of-type(10):checked
  ~ .carousel__screen
  .carousel__track {
  transform: translateX(-900%);
}

.carousel__screen {
  /* overflow: scroll; */
  /* margin-left: clamp(-10em, -5em, 5em);
  margin-right: clamp(-30em, em, -5em); */
  margin-left: -16px;
  margin-right: -16px;
}

.carousel__track {
  font-size: 0;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.carousel__item {
  display: inline-flex;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: top;
  white-space: normal;
}

.carousel__item--desktop-in-1 {
  width: 100%;
}

.carousel__item--desktop-in-2 {
  width: 50%;
}

.carousel__item--desktop-in-3 {
  width: 33.3333333333%;
}

.carousel__item--desktop-in-4 {
  width: 25%;
}

.carousel__item--desktop-in-5 {
  width: 20%;
}

.demo-content {
  color: var(--colors-accent1);
  display: flex;
  font-weight: 100;
  align-items: end;
  justify-content: start;
  /* text-transform: uppercase; */
  border-radius: 3px;
  font-size: clamp(0.6rem, 3vw, 0.8rem);
  height: clamp(30vh, 40vh, 35vh);
  /* `clamp()` function to set the width of an element. The `clamp()`
  function takes three parameters: a minimum value, a preferred value, and a maximum value. In this
  case, the minimum value is set to `min(10vw, 20rem)`, which means the width will be at least 10%
  of the viewport width or 20rem, whichever is larger. The preferred value is set to `800px`, which
  means the width will be 800 pixels if possible. The maximum value is set to `max(90vw, */
  width: clamp(min(10vw, 20rem), 800px, max(90vw, 55rem));
  touch-action: pan-x;
  pointer-events: auto;
  cursor: grab;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}
.demo-content-inner {
  color: var(--colors-accent1);
  display: flex;
  height: 100%;
  width: 100%;
  pointer: grab;
}

.inner-text,
.inner-heading {
  font-size: 1em;
  position: relative;
  top: 2.5em;
  padding-right: 0.5em;
  justify-content: center;
  text-align: start;
  display: inline;
  margin: 0;
}

[title~="Design"] {
  top: 3.5em;
}

.headings {
  font-size: clamp(1em, 3vw, 1.2em);
  align-items: center;
  justify-content: center;
  text-align: center;
  display: inline;
  margin: 0.9em 0;
}

.laboratory {
  /* align-items: center;
  justify-content: center; */
  /* width: 63.1%; */
}

.inner-link {
  position: relative;
  top: 2em;
  padding-right: 0.5em;
}
/* .inner-text:nth-of-type(3) {
  color: grey;
} */
.carousel__item:nth-child(1) .demo-content {
  background-color: var(--colors-accent9);
  background: url("../assets/videos/1.webp") no-repeat center center;
  background-size: cover;
  cursor: pointer;
}
.carousel__item:nth-child(1) .demo-content:hover {
  background-color: red;
  background-color: var(--colors-accent9);
  background: url("../assets/Images/17.webp") no-repeat center center;
  background-size: cover;
}

.carousel__item:nth-child(2) .demo-content {
  background: url("../assets/Images/13.webp") no-repeat center center;
  /* background-position: -130px 5px; */
  /* background-color: #3692b6; */
  /* width: 70%; */
  background-size: cover;
}
.carousel__item:nth-child(2) .demo-content:hover {
  background: url("../assets/videos/5.webp") no-repeat center center;
  /* background-position: -290px -80px; */
  background-color: #3692b6;
  background-size: cover;
  /* width: 70%; */
}

.carousel__item:nth-child(3) .demo-content {
  background-color: #6fccc9;
  background: url("../assets/Images/11.webp") no-repeat center center;
  background-size: cover;
  /* width: 70%; */
}
.carousel__item:nth-child(3) .demo-content:hover {
  background-color: #6fccc9;
  background: url("../assets/Images/14.webp") no-repeat center center;

  background-size: cover;
  /* width: 70%; */
}

.carousel__item:nth-child(4) .demo-content {
  background: url("../assets/videos/3.webp") no-repeat center center;
  /* background-position: right; */
  /* background-color: #3692b6; */
  /* width: 70%; */
  background-size: cover;
}
.carousel__item:nth-child(4) .demo-content:hover {
  background: url("../assets/Images/5.webp") no-repeat center center;
  /* background-position: right; */
  /* background-color: #3692b6; */
  /* width: 70%; */
  background-size: cover;
}

.carousel__item:nth-child(5) .demo-content {
  background-color: var(--colors-accent9);
  background: url("../assets/Images/15.webp") no-repeat center center;
  background-size: cover;
  /* filter: blur(6px); */
}
.carousel__item:nth-child(5) .demo-content:hover {
  background-color: red;
  background-color: var(--colors-accent9);
  background: url("../assets/Images/16.webp") no-repeat center center;
  filter: blur(0px);
  background-size: cover;
}

.carousel__item:nth-child(6) .demo-content {
  background-color: var(--colors-accent9);
  background: url("../assets/Images/18.webp") no-repeat center center;
  background-size: cover;
}

.carousel__item:nth-child(6) .demo-content:hover {
  background-color: var(--colors-accent9);
  background: url("../assets/videos/8.webp") no-repeat center center;
  background-size: cover;
}

.carousel__item:nth-child(7) .demo-content {
  background-color: var(--colors-accent9);
  background: url("../assets/videos/9.webp") no-repeat center center;
  background-size: cover;
}
.carousel__item:nth-child(7) .demo-content:hover {
  background-color: var(--colors-accent9);
  background: url("../assets/Images/19.webp") no-repeat center center;
  background-size: cover;
}

/* New media query for larger screens */
@media only screen and (max-width: 1024px), screen and (max-height: 600px) {
  .carousel__track {
    padding-left: 72px;
    padding-right: 72px;
  }
  .carousel {
    padding-left: 0;
    padding-right: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 69vh;
    -webkit-overflow-scrolling: touch;
  }

  .carousel__screen {
    /* overflow: scroll; */
    margin-left: clamp(-1em, -1em, 0);
    margin-right: clamp(-1em, -1em, 0);
  }

  .carousel__item--desktop-in-1 {
    width: 100%;
    height: 50vh;
  }

  .carousel__item--desktop-in-2 {
    width: 50%;
    height: 40vh;
  }

  .carousel__item--desktop-in-3 {
    width: 33.3333333333%;
    height: 40vh;
  }

  .carousel__item--desktop-in-4 {
    width: 25%;
    height: 40vh;
  }

  .carousel__item--desktop-in-5 {
    width: 20%;
    height: 40vh;
  }
}

@media screen and (max-width: 1023px) {
  .carousel {
    padding-left: 0;
    padding-right: 0;
    height: 40vh;
  }

  .carousel__activator:nth-of-type(n):checked
    ~ .carousel__controls:nth-of-type(n) {
    display: none;
  }
  .carousel__activator:nth-of-type(n):checked
    ~ .carousel__screen
    .carousel__track {
    transform: none;
  }

  .carousel__screen {
    margin-left: 0;
    margin-right: 0;
  }

  .carousel__track {
    overflow-x: auto;
    width: auto;
    padding-left: 48px;
    padding-right: 48px;
  }

  .carousel__item--tablet-in-1 {
    width: 90vw;
    height: 40vh;
    overflow: hidden;
  }

  .carousel__item--tablet-in-2 {
    width: 60vw;
    height: 40vh;
    overflow: hidden;
  }

  .carousel__item--tablet-in-3 {
    width: 30%;
  }
}
@media screen and (max-width: 650px) {
  .carousel__track {
    padding-left: 0;
    padding-right: 0;
  }

  .carousel__item--mobile-in-1 {
    width: 92vw;
    height: 40vh;
    overflow-y: hidden;
  }

  .carousel__item--mobile-in-2 {
    width: 45%;
    overflow-y: hidden;
  }

  .carousel__item--mobile-in-3 {
    width: 30%;
    height: 10vh;
    overflow: hidden;
  }
}
@media screen and (max-width: 200px) {
  body * {
    width: 100vw;
    height: 100vh;
    background: url("../assets/Images/end.webp") no-repeat center center;
    background-size: cover;
  }
  main * {
    display: none;
  }

  section * {
    display: none;
  }
  p {
    display: none;
  }

  .logo {
    display: none;
  }
}

/* test */
